{% extends '_base.html'%}
{% load static %}



{% block title %}
All Quiz
{% endblock title %}


{% block content %}
{% autoescape off %}
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 ml-auto mr-auto">
    {% if on_going_quiz|length > 0 %}

<div style="margin:50px 0">
<h1>Ongoing Quizes</h1>

{% for quiz in  on_going_quiz %}
<div class="card w-100" style="margin: 20px 0">
    <div class="card-body">
        <h5 class="card-title"><b>{{quiz.name}}</b></h5>
        <p class="card-text">{{quiz.description}}</p>
        <p>Started On: {{quiz.start_time}}</p>
        <p>Ends On: {{quiz.end_time}}</p>
        <a class="btn btn-warning" href="{{quiz.get_absolute_url}}">Start Quiz</a>
    </div>
</div>
{% endfor %}
</div>

{% else %}
<p class="text-muted">There are no ongoing quizes.</p>
{% endif %}



<div  style="margin:50px 0">
{% if upcomming_quiz|length > 0 %}
<h1>Upcomming Quizes</h1>
{% for quiz in  upcomming_quiz %}
<div class="card w-100" style="margin: 20px 0">
    <div class="card-body">
        <h5 class="card-title"><b>{{quiz.name}}</b></h5>
        <p class="card-text">{{quiz.description}}</p>
        <p>Starts On: {{quiz.start_time}}</p>
        {% comment %} <a class="btn btn-warning" href="{{quiz.get_absolute_url}}">Start Quiz</a> {% endcomment %}
    </div>
</div>
{% endfor %}
</div>

{% else %}
<p class="text-muted">No upcomming quizes for now. We will have new quizes soon.</p>
{% endif %}

<div  style="margin:50px 0">

{% if past_quiz|length > 0 %}
<h1>Past Quizes</h1>
{% for quiz in  past_quiz %}
<div class="card w-100" style="margin: 20px 0">
    <div class="card-body">
        <h5 class="card-title"><b>{{quiz.name}}</b></h5>
        <p class="card-text">{{quiz.description}}</p>
        <p>Ended On: {{quiz.end_time}}</p>
        <a class="btn btn-warning" href="{% url 'quiz_leaderboard' quiz.slug%}">Quiz Leader Board</a>
    </div>
</div>
{% endfor %}
</div>

{% else %}
<p class="text-muted">We Havent Had Any quizes Till Now.</p>
{% endif %}
    </div>

{% endautoescape %}
{% endblock content %}