{% extends '_base.html'%}
{% load static %}



{% block title %}
    {{quiz.name}}
{% endblock title %}


{% block content %}
   <h1>{{quiz.name}}</h1>

    {% if attempted %}
        
        <h2>Your Response</h2>
        <p>Total Score - {{score}}</p>
        <div class="table-responsive">
       
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Your Answer</th>
      <th scope="col">Correct Answer</th>
      <th scope="col">Correct?</th>
    </tr>
  </thead>
  <tbody>
  {% for response in responses %}
    <tr>
      <th scope="row">{{response.question.text}}</th>
   
      {% if response.user_option %}
        <td>{{response.user_option.text}}</td>
      {% else %}
      <td>No Response</td>
      {% endif %}
      <td>{{response.correct_option.text}}</td>
      <td>{{response.is_correct|yesno:"right,wrong"}}</td>
    </tr>
  {% endfor %}
   
  </tbody>
</table>
 </div>


    {% else %}
    <form method="POST" action="{% url 'quiz_submit' quiz.slug %}">
        {%csrf_token %}
    {% for question in  questions %}
    
        <p>Q{{forloop.counter}}.{{question.text}}</p>

        <ul style="list-style-type: none">

        {% for option in question.options.all %}
            <li>
                
                <input type="radio" id={{question.id}} name={{question.id}} value={{option.id}} />
                <label for={{question.id}}>{{option.text}}</label>
            </li>
        {% endfor %}
        </ul>   
    
    {% endfor %}
    <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    {% endif %}
    
{% endblock content %}