{% extends '_base.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
Leader Board
{% endblock title %}


{% block content %}
    <h1> Leader Board </h1>
    <h2>{{quiz.name}}</h2>
    <p>Total Participants: {{quiz.quiz_takers.count}}</p>
    <table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>UserName</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz_taker in top_scorers %}
        <tr>
            <th scope="row">{{quiz_taker.user.username}}</th>
            <td style="text-align: center">{{quiz_taker.score}}</td>
        </tr>
        {% endfor %}


    </tbody>
</table>
    
    


{% endblock content %}