{% extends '_base.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    My Profile
{% endblock title %}


{% block content %}
    <h1> My Profile </h1>
    <table class="table table-bordered table-dark">
 
  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td>{{user_profile.firstname}}</td>
      
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td>{{user_profile.lastname}}</td>
  
    </tr>
    <tr>
      <th scope="row">College</th>
      <td colspan="2">{{user_profile.college_name}}</td>
    </tr>
     <tr>
      <th scope="row">Branch</th>
      <td colspan="2">{{user_profile.branch}}</td>
    </tr>

    <tr>
      <td colspan="2">
        <a href="{% url 'profile_update' %}" class="btn btn-warning">update</a>
      </td>
      
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-dark">
 
  <tbody>
    <tr>
      <th scope="row">Total Quiz Participation</th>
      <td>{{all_attempted_quizes.count}}</td>
    </tr>
    <tr>
      <th scope="row">My Best Score</th>
      <td>{{all_attempted_quizes.count}}</td>
    </tr>

    <tr>
      <th scope="row">My Best Rank</th>
      <td>{{all_attempted_quizes.count}}</td>
    </tr>
  </tbody>
</table>

<h1>Quizes You Attempted </h1>
{% for quiz_instance in all_attempted_quizes %}

  
  <div class="card">
  <h5 class="card-header">{{quiz_instance.quiz.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">Score: {{quiz_instance.score}} </h5>
    <p class="card-text">Rank: {{1}}</p>
    <a href="{% url 'quiz_start' quiz_instance.quiz.slug%}" class="btn btn-primary">Check Your Response Response</a>
  </div>
</div>
  
{% endfor %}
{% endblock content %}